$inputMargin: 30px 0 30px 0;
$textAreaHeight: 1500px;

$generalFont: 25px;
$genFont1401to1600: 20px;
$genFont1201to1400: 15px;

$textarea1601: 900px;
$textarea1401to1600: 650px;
$textarea1201to1400: 500px;
$textarea1001to1200: 350px;

.individualInput{
    margin: $inputMargin;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header"
                         "inputArea outputArea";

    #header{
        grid-area: header;
    }
    #detailsInput{
        grid-area: inputArea;

        #submit{
            margin: 30px 0 30px 0;
            padding: 10px;
        }

        #data{
            padding: 5px;
            margin: 20px 0 0 5px;
            background-color: rgb(58, 57, 56);
            color: rgb(207, 207, 207);
            border-radius: 8px;
        }
    }
    #generatedListOutput{
        grid-area: outputArea;
        margin-right: 5px;
    }
}




@media screen and (min-width: 1601px) {
    #output{
        min-width: $textarea1601;
        font-size: $generalFont;
        min-height: $textAreaHeight;
    }
    div{
        font-size: $generalFont;
    }
    input{
        font-size: $generalFont;
    }
    button{
        font-size: $generalFont;
    }
    #data{
        font-size: $generalFont;
        min-height: ($textAreaHeight)-200;
        min-width: ($textarea1601)-200;
    }
}
@media screen and (max-width: 1600px) {
    #output{
        min-width: $textarea1401to1600;
        font-size: $genFont1401to1600;
        min-height: $textAreaHeight;
    }
    div{
        font-size: $genFont1401to1600;
    }
    input{
        font-size: $genFont1401to1600;
    }
    button{
        font-size: $genFont1401to1600;
    }
    #data{
        font-size: $genFont1401to1600;
        min-width: ($textarea1401to1600)-200;
        min-height: ($textAreaHeight)-200;
    }
}
@media screen and (max-width: 1400px) {
    #output{
        min-width: $textarea1201to1400;
        font-size: $genFont1201to1400;
        min-height: $textAreaHeight;
    }
    div{
        font-size: $genFont1201to1400;
    }
    input{
        font-size: $genFont1201to1400;
    }
    button{
        font-size: $genFont1201to1400;
    }
    #data{
        font-size: $genFont1201to1400;
        min-height: ($textAreaHeight)-200;
        min-width: ($textarea1201to1400)-200;
    }
}
@media screen and (max-width: 1200px) {
    #data{
        font-size: $genFont1201to1400;
        min-height: ($textAreaHeight)-200;
        min-width: ($textarea1001to1200)-100;
    }
    #output{
        font-size: $genFont1201to1400;
        min-height: $textAreaHeight;
        min-width: $textarea1001to1200+100;
    }
}
@media screen and (max-width: 900px) {
    #app{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #output{
        min-width: ($textarea1001to1200);
    }
    #data{
        min-width: ($textarea1001to1200)-150;
    }
    #lowerCollective{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    #app{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #output{
        margin-top: 30px;
        min-width: 300px;
    }
    #lowerCollective{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}